*,
        body {
          box-sizing: border-box;
        }
        section {
          width: 100%;
          height: 100%;
        }
        body {
            font-family: sans-serif;
            font-size: 16px;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            background-color: #f3f3f3;
        }
      .button{
         border: none;
         font-size: 18px;
      }
      .button:not(:last-child){
         margin-bottom: 20px
      }

      #usercard{
         text-align: center;
      }
        button {
            display: block;
            width: 100%;
            font-size: 14px;
            margin: 15px 0;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            background-color:#50a8eb;
            color: #ffffff;
            cursor: pointer;
        }
        button[disabled] {
            opacity: 0.6;
            cursor: auto;
            pointer-events: none;
        }
        .forma {
            display: block;
            width: 100%;
            font-size: 14px;
            margin: 15px 0;
            padding: 12px 20px;
            border: none;
            color: #ffffff;
            cursor: pointer;
            background: #000000;
            border-radius: 8px;
            padding: 16px;
            gap: 12px;
            height: 56px;
            z-index: 1;
        }
        button.close_btn {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 0;
            margin: 0;
            padding: 16px 20px;
            text-transform: uppercase;
        }
        section {
            text-align: center;
        }
        p {
        }
        .qs-datepicker-container {
          display:block;

        }
        .GlButton {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
        .forma:hover {
          background: #404040;
        }
        .forma:focus {
        outline: none;
        }
        .forma:active {
        background: #595959;
        }
        #datepicker {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 8px;
        gap: 8px;
        width: 100%;
        width: 343px;
        height: 48px;
        border: 2px solid #B3B3B3;
        border-radius: 8px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        }
        .input {
          position: relative;
          display:inline-block;
          margin-top: 20px;
        }
        .input.forma {
            width: 100%;
        } 
        .iconka {
          position:absolute;
          right: 10px;
          top: 12px;
        }
         .ViborOT {
          font-weight: 700;
          margin-bottom: 8px;
          margin-top: 16px;
        }
        .formRadio {
          margin-right: 10px;
          padding: 10px;
        }
        .formRadio label {
          display: inline-block;
          cursor: pointer;
          /* padding: 0px 15px; */
          line-height: 34px;
          border: 1px solid #999;
          border-radius: 6px;
          user-select: none;
          background-color: #ffffff;
        }

        .formRadio input[type=radio]:checked + label {
          background: #FFFFFF;
          font-weight: 900;
          border: 2px solid #000000;
          border-radius: 4px;
        }
        .formRadio label:hover {
          color: #666;
          background: #F2F2F2;
        }
        .formRadio input[type=radio]:disabled + label {
          background: #efefef;
          color: #666;
        }
        .put {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }
        .put+label {
          display: inline-flex;
          align-items: center;
          user-select: none;
        }
        .put+label::before {
          content: '';
          display: inline-block;
          width: 1em;
          height: 1em;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid #adb5bd;
          border-radius: 50%;
          margin-right: 0.5em;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }
        /* стили при наведении курсора на радио */
        .put:not(:disabled):not(:checked)+label:hover::before {

          background: #F2F2F2;
          border: 1px solid  #000000;
        }
        /* стили для активной радиокнопки (при нажатии на неё) */
        .put:not(:disabled):active+label::before {
          background-color: #F2F2F2;
          border-color: #F2F2F2;
        }
        /* стили для радиокнопки, находящейся в фокусе */
        .put:focus+label::before {
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
        /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
        .put:focus:not(:checked)+label::before {
          border-color: #80bdff;
        }
        /* стили для радиокнопки, находящейся в состоянии checked */
        .put:checked+label::before {
          border-color: #000000;
          background-color: #000000;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        }
        /* стили для радиокнопки, находящейся в состоянии disabled */
        .put:disabled+label::before {
          background-color: #e9ecef;
        }
        .formRadio {
          margin-bottom: 0.4em;
          padding: 10px;
        }
        .dfdf {
          text-align: start;
        }
        #opoveshenie1 {
          box-sizing: border-box;
          position: relative;
          display: none;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
        /* [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 5px;
            top: 20px;
            width: 18px;
            height: 18px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: #000000;
            position: absolute;
            top: 24px;
            left: 9px;
            border-radius: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        } */
        .labeLL {
          padding: 20px;
        }
        .podzag {
          font-weight: 400;
          font-size: 16px;
        }
        #tentacles {
          box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 8px;
        gap: 8px;
        width: 100%;
        height: 48px;
        border: 2px solid #B3B3B3;
        border-radius: 8px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        }
        #tyte {
          box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 8px;
        gap: 8px;
        width: 100%;
        height: 48px;
        border: 2px solid #B3B3B3;
        border-radius: 8px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        }
        #menu {
            display: none;
        }
        #podachazaevleniy {
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: start;
            margin-left: 16px;
            margin-right: 16px;
        }
        #proverka-dann {
            display: none;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: start;
            margin-left: 16px;
            margin-right: 16px;
        }
        .svodka {
            width: 100%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }
        .vedd-dann {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 8px;
            background: #D4EFF7;
            border-radius: 8px;
            margin-top: 8px;
        }
        .shapka {
            font-weight: 600;
            margin-top: 8px;
        }
        .material {
            font-weight: 400;
        }
        .karandashik {
            display: flex;
            justify-content:space-between;
        }
        #closewindow {
            display: none;
        }
        .sformirovano {
            margin-bottom: 8px;
            margin-top: 16px;
        }



        *{
            padding: 0;
            margin: 0;
            margin-bottom: 3px;
        }
        .wrappers {
            margin: 0 auto;
            font-family: Arial;
            display: block;
         }
        .btn {
            box-sizing: border-box;
            padding:12px 8px;
            cursor: pointer;
            font-size: 16px;
            gap: 8px;
            width: 100%;
            height: 48px;
            background: #FFFFFF;
            border: 2px solid #B3B3B3;
            border-radius: 8px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
            display: block;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: start;
            z-index: 1;
        }
        .popup {
            /* display: flex;
            flex-direction:column;
    justify-content: space-between; */

            margin: 0 auto;
            width: 100%;
            background-color:  white;
            padding: 30px;
            position: fixed;
            left: 0;
            bottom: 0px;
            z-index: 2;
        }
        .popup input{
            display: block;

            border: none;

            line-height: 25px;

        }
        .submit {
            background-color: #fff;
            cursor: pointer; 
            text-align: start;
        }
        #modal {
            display: none;
            z-index: 101;
        }
        #modal:checked ~ .popup {
            display:none;
            z-index: 101;
        }
        .closetype {
            position:absolute;
            top:5px;
            right: 10px;
            transform: rotate(45deg);
            font-size: 24px;
            cursor: pointer;
        }
        .vvodkolvoday {
            margin-top: 40px;
        }
        .vibirotp1 {
            display:flex;
            justify-content: space-between
        }
        .wradio {
            display:flex;
            justify-content: space-between
        }
        .fortodate {
            margin-top: 12px;
            margin-bottom: -20px;
        }
        .galka {
            z-index: 5;
            position: absolute;
            top:116px;
            right: 20px;

        }
        .cale {
            position: relative;
            display:block;
            margin-top: 20px;
        }
        .podtverdit {
          display: flex;
          justify-content:space-around;
          margin: 0px;
        }
        .back {
          display: block;
          font-size: 14px;
          padding: 12px 50px;
          color: #000000;
          cursor: pointer;
          background: #FFFFFF;
          gap: 12px;
          height: 48px;
          z-index: 1;
          border-radius: 12px 12px 12px 12px;
          border: 2px solid black;
          text-align: center;
        }
        .save {
          display: block;
          font-size: 14px;
          padding: 12px 50px;
          border: none;
          color: #ffffff;
          cursor: pointer;
          background: #B3B3B3;
          border-radius: 8px;
          gap: 12px;
          height: 48px;
          z-index: 1;
          text-align: center; 
        }
        a {
          text-decoration: none;
        }
        .save:hover {
          background: #404040;
        }
        .save:focus {
        outline: none;
        }
        .save:active {
        background: #595959;
        }
        .picture { /* Это картинка <a class="picture" href="#modal"> красного цвета*/
          width: 24px;
          height: 24px;  
      }
      .wrappers  { /* Это прозрачная обертка <div id="modal" class="wrapper">, растянутая по всему экрану и находящаяся поверх всех элементов страницы*/
          width: 100vw;
          height: 100vh;
          background-color: transparent; 
          position: absolute;
          top: 0;
          left: 0;  
      } 
      .substrates { /* Это подложка  <a class="substrate" href="#close"> серого цвета с прозрачностью, растянутая по границам обертки <div id="modal" class="wrapper">*/
          width: 100%;
          height: 100%;
          background-color: rgba(100, 100, 100, 0.6);   
          position: absolute;
          top:0;
          left: 0;
      }
      .blocks { /* Это блок  <div class="block"> синего цвета внутри обертки <div id="modal" class="wrapper">*/
          width: 100px;
          height: 100px;
          background-color: rgba(0, 0, 255, 1);   
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -50px;
          margin-top: -50px;
      }
      .closes { /* Это закрывашка <a class="close" href="#close"> блока <div class="block"> , обозначенная крестиком*/ 
        position:absolute;
        top:5px;
        right: 10px;
        transform: rotate(45deg);
        font-size: 24px;
        cursor: pointer;
        text-decoration: none;  
      }
      #modals { /* Это состояние обертки (модального окна), когда оно в "покое": его не видно и на она не реагирует на нажатие*/        
          display: none;
          pointer-events: none;  
      }
      #modals:target{  /* Это состояние обертки (модального окна), когда мы на него ссылаемся, нажимая на карктинку <a class="picture" href="#modal">: обертка становится видимой и с ней можно манипулировать мышью*/            
          display: block;
          pointer-events: auto;    
      }

      .picture2 { /* Это картинка <a class="picture" href="#modal"> красного цвета*/
        width: 24px;
        height: 24px; 
      }
      .wrappers2  { /* Это прозрачная обертка <div id="modal" class="wrapper">, растянутая по всему экрану и находящаяся поверх всех элементов страницы*/
          width: 100vw;
          height: 100vh;
          background-color: transparent; 
          position: absolute;
          top: 0;
          left: 0;  
      } 
      .substrates2 { /* Это подложка  <a class="substrate" href="#close"> серого цвета с прозрачностью, растянутая по границам обертки <div id="modal" class="wrapper">*/
          width: 100%;
          height: 100%;
          background-color: rgba(100, 100, 100, 0.6);   
          position: absolute;
          top:0;
          left: 0;
      }
      .blocks2 { /* Это блок  <div class="block"> синего цвета внутри обертки <div id="modal" class="wrapper">*/
          width: 100px;
          height: 100px;
          background-color: rgba(0, 0, 255, 1);   
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -50px;
          margin-top: -50px;
      }
      .closes2 { /* Это закрывашка <a class="close" href="#close"> блока <div class="block"> , обозначенная крестиком*/ 
        position:absolute;
        top:5px;
        right: 10px;
        transform: rotate(45deg);
        font-size: 24px;
        cursor: pointer;
        text-decoration: none;  
      }
      #modals2 { /* Это состояние обертки (модального окна), когда оно в "покое": его не видно и на она не реагирует на нажатие*/        
          display: none;
          pointer-events: none;  
      }
      #modals2:target{  /* Это состояние обертки (модального окна), когда мы на него ссылаемся, нажимая на карктинку <a class="picture" href="#modal">: обертка становится видимой и с ней можно манипулировать мышью*/            
          display: block;
          pointer-events: auto;    
      }
      .btn1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
      }
      .picture3 { /* Это картинка <a class="picture" href="#modal"> красного цвета*/
        width: 24px;
        height: 24px; 
      }
      .wrappers3  { /* Это прозрачная обертка <div id="modal" class="wrapper">, растянутая по всему экрану и находящаяся поверх всех элементов страницы*/
          width: 100vw;
          height: 100vh;
          background-color: transparent; 
          position: absolute;
          top: 0;
          left: 0;  
      } 
      .substrates3 { /* Это подложка  <a class="substrate" href="#close"> серого цвета с прозрачностью, растянутая по границам обертки <div id="modal" class="wrapper">*/
          width: 100%;
          height: 100%;
          background-color: rgba(100, 100, 100, 0.6);   
          position: absolute;
          top:0;
          left: 0;
      }
      .blocks3 { /* Это блок  <div class="block"> синего цвета внутри обертки <div id="modal" class="wrapper">*/
          width: 100px;
          height: 100px;
          background-color: rgba(0, 0, 255, 1);   
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -50px;
          margin-top: -50px;
      }
      .closes3 { /* Это закрывашка <a class="close" href="#close"> блока <div class="block"> , обозначенная крестиком*/ 
        position:absolute;
        top:5px;
        right: 10px;
        transform: rotate(45deg);
        font-size: 24px;
        cursor: pointer;
        text-decoration: none;  
      }
      #modals3 { /* Это состояние обертки (модального окна), когда оно в "покое": его не видно и на она не реагирует на нажатие*/        
          display: none;
          pointer-events: none;  
      }
      #modals3:target{  /* Это состояние обертки (модального окна), когда мы на него ссылаемся, нажимая на карктинку <a class="picture" href="#modal">: обертка становится видимой и с ней можно манипулировать мышью*/            
          display: block;
          pointer-events: auto;    
      }
      .close {
        width: 100%;
          font-size: 24px;
          cursor: pointer;
          text-decoration: none;  
      }

      .back1 {
        display: block;
        width: 48%;
        font-size: 14px;
        margin: 15px 0;
        padding: 12px 20px;
        color: #000000;
        cursor: pointer;
        background: #FFFFFF;
        gap: 12px;
        height: 48px;
        z-index: 1;
        border-radius: 12px 12px 12px 12px;
        border: 2px solid black;
        text-align: center;
      }
      .save1 {
        display: block;
        width: 48%;
        font-size: 14px;
        margin: 15px 0;
        padding: 12px 20px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        background: #B3B3B3;
        border-radius: 8px;
        gap: 12px;
        height: 48px;
        z-index: 1;
        text-align: center;
        
      }